body {
  margin: 0;
  font-family:  "Roboto", sans-serif;
  background-color: #fff;
  color: #0f172a;
}


img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
